<img src='pics/otus.png'>

In [5]:
from __future__ import print_function
from collections import defaultdict
import pandas as pd
import numpy as np
import matplotlib
import pandas_profiling
import matplotlib.pyplot as plt
import matplotlib.cm as cm
import seaborn as sns

%matplotlib inline
plt.rcParams["figure.figsize"] = (15, 8)
pd.options.display.float_format = '{:.2f}'.format

In [8]:
fn = 'orders.csv'

In [9]:
df = pd.read_csv(fn)
df.head(5)

,DISCOUNT_VALUE,NAME,PRICE,QUANTITY,date_insert,discount,itemID,orderID,ordered_item_count,price,user_id
0,23.55%,Хроники Амбера. Том 2,357.00,1,2017-03-19 22:25:20,110.00,169108,602051,1,527.00,911531
1,4.07%,Хроники Амбера. Том 1,448.00,1,2017-03-19 22:19:58,19.00,1394744,602047,1,618.00,911531
2,4.17%,Пищеводитель,414.00,1,2017-03-19 20:58:00,65.00,191276,602017,4,1503.00,911587
3,4.17%,Аудиокн. Мясников. &quot;Ржавчина&quot;: что д...,253.00,1,2017-03-19 20:58:00,65.00,157945,602017,4,1503.00,911587
4,4.09%,Инфекции. Как защитить себя и своего ребенка,422.00,1,2017-03-19 20:58:00,65.00,205173,602017,4,1503.00,911587

# 1. Провести EDA
Просмотреть структуру данных, значения каждого признака, поискать особенности в признаках и в данных вцелом

In [10]:
"""
формула рассчета изначальной цены за книгу (без скидки)
"""
def book_price(price, discount):
    #price = nominal_price - (nominal_price/100) * discount
    #price = nominal_price * (1 - discount/100)
    nominal_price = price/(1 - discount/100)
    return nominal_price

In [11]:
print(book_price(263,20.06))
print(book_price(316,3.95))

328.9967475606705
328.99531494013536

In [12]:
print(df.count())
df.describe()
df.sort_values(['NAME', 'date_insert']).head(5)

DISCOUNT_VALUE        553777
NAME                  557811
PRICE                 557818
QUANTITY              557818
date_insert           557818
discount              557818
itemID                557818
orderID               557818
ordered_item_count    557818
price                 557818
user_id               557818
dtype: int64

,DISCOUNT_VALUE,NAME,PRICE,QUANTITY,date_insert,discount,itemID,orderID,ordered_item_count,price,user_id
60033,20.06%,"# Мужчины с Марса, женщины с Венеры. Курс испо...",263.00,1,2017-03-31 15:54:33,133.00,1418863,610585,4,1138.00,917439
63068,3.95%,"# Мужчины с Марса, женщины с Венеры. Курс испо...",316.00,1,2017-04-04 17:32:24,256.00,1418863,612159,5,1285.00,220005
128639,23.1%,"# Мужчины с Марса, женщины с Венеры. Курс испо...",253.00,1,2017-05-02 23:22:57,2066.00,1418863,626643,32,7144.00,38770
130829,23.1%,"# Мужчины с Марса, женщины с Венеры. Курс испо...",253.00,2,2017-05-02 23:27:03,604.00,1418863,626649,9,5349.00,38770
135324,10.03%,"# Мужчины с Марса, женщины с Венеры. Курс испо...",329.00,1,2017-05-11 18:44:04,187.00,1418863,630919,4,1058.00,931194

In [17]:
df[df['NAME'].isnull()]

,DISCOUNT_VALUE,NAME,PRICE,QUANTITY,date_insert,discount,itemID,orderID,ordered_item_count,price,user_id
110107,NaN,NaN,11221.00,1,2017-04-27 09:15:19,0.00,132542,624656,1,11500.00,195867
146016,NaN,NaN,12587.00,1,2017-05-19 02:15:11,0.00,133342,634448,1,12866.00,195867
159453,NaN,NaN,12587.00,1,2017-05-23 11:15:12,0.00,133342,636646,1,12587.00,195867
160684,NaN,NaN,1625.00,1,2017-05-26 12:15:14,0.00,144934,639120,1,1625.00,195867
178111,NaN,NaN,1625.00,1,2017-05-29 09:15:12,0.00,144934,640360,1,1625.00,195867
200009,NaN,NaN,1625.00,1,2017-06-06 12:15:11,0.00,144934,645680,1,1625.00,195867
200772,NaN,NaN,1625.00,1,2017-06-09 06:15:14,0.00,144934,647375,1,1625.00,195867

1. нужно NaN значения DISCOUNT_VALUE привести к 0
2. NaN  значения NAME удалить 
3. DISCOUNT_VALUE  привести к цифровому значению
4. Добавить колонку book_price  где будет цена книги без скидки

# 2. Спланировать эксперимент 

Задача:
* сегментация товаров + сегментация пользователей (по товарам, по поведению, скидкам и пр.)

Дополнительнительные задачи (опционально, подумайте о них, могут появиться интересные идеи и находки):
* поиск товаров-заменителей и товаров, дополняющих друг друга
* поиск выбросов среди товаров
* поиск выбросов среди заказов

Эксперимент - составить план, по которому будет проделана исследовательская работа. Примерные пункты плана:
* Составить первичный список признаков, необходимых для решения задачи
* Сгенерировать список новых признаков, которые можно получить из данных
* Применить понижение размерности для визуализации данных
* Применить кластеризацию, визуализировать
* Описание кластера
* Любые другие пункты

# 3. Выполнить подготовку данных для построения модели

Выполнить необходимые преобразования данных

In [25]:
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.pipeline import Pipeline

class TransformPercent(BaseEstimator, TransformerMixin):
    
    def __init__(self, *args):
        self._field_name = args[0]
    
    def fit(self, df, y=None):
        return self
    
    def transform(self, df,  y=None):
        _df = df.copy()  # делаем копию данных (полагая, что df - датафрейм pandas),   
        _df[self._field_name] = _df[self._field_name].replace('[\%]','',regex=True).astype(float)
        _df[self._field_name].fillna(0.0)
        return _df

In [27]:
model_pipe = Pipeline([('percent', TransformPercent('DISCOUNT_VALUE'))])
model_pipe.fit(df)
analyze_df = model_pipe.transform(df)

,DISCOUNT_VALUE,NAME,PRICE,QUANTITY,date_insert,discount,itemID,orderID,ordered_item_count,price,user_id
11,0.00,Феномен Инстаграма. Как раскрутить свой аккаун...,254.15,1,2017-03-19 20:22:19,44.85,1423007,602002,1,384.15,911573
17,0.00,Феномен Инстаграма. Как раскрутить свой аккаун...,254.15,10,2017-03-19 19:16:27,44.85,1423007,601981,1,2541.50,911556
29,0.00,Приключения барона Мюнхгаузена (ил. Л.Каплана),456.50,1,2017-03-19 17:18:03,584.63,669407,601928,5,2854.37,483101
30,0.00,Пеппи Длинныйчулок,345.28,1,2017-03-19 17:18:03,584.63,141717,601928,5,2854.37,483101
31,0.00,"Малыш и Карлсон, который живет на крыше",977.74,1,2017-03-19 17:18:03,584.63,186906,601928,5,2854.37,483101
32,0.00,Приключения Тома Сойера,585.98,1,2017-03-19 17:18:03,584.63,176818,601928,5,2854.37,483101
33,0.00,Приключения Алисы в Стране Чудес,488.87,1,2017-03-19 17:18:03,584.63,199408,601928,5,2854.37,483101
36,0.00,Макияж. Книга Елены Крыгиной,2212.50,1,2017-03-19 15:49:00,737.50,711378,601903,1,2212.50,911493
42,0.00,Геральт. Последнее желание. Меч Предназначения...,588.75,1,2017-03-19 13:49:00,392.50,189334,601852,2,1594.72,911157
43,0.00,Цири,588.75,1,2017-03-19 13:49:00,392.50,181779,601852,2,1594.72,911157
44,0.00,Тысяча «М»,355.00,1,2017-03-19 13:43:27,0.00,1424795,601846,1,716.33,911157
52,0.00,Феномен Инстаграма. Как раскрутить свой аккаун...,254.15,1,2017-03-19 12:48:06,44.85,1423007,601823,2,478.15,911290
53,0.00,Подними деньги! 150 результативных «фишек» и т...,54.00,1,2017-03-19 12:48:06,44.85,180172,601823,2,478.15,911290
65,0.00,Шпионские страсти,265.50,1,2017-03-19 12:00:11,29.50,1399174,601802,1,265.50,65095
68,0.00,Гравити Фолз. Дневник 3,999.75,1,2017-03-19 11:43:05,333.25,713988,601791,1,999.75,911399
73,0.00,Очаровательный кишечник. Как самый могуществен...,266.25,1,2017-03-19 11:04:36,346.25,151793,601771,4,1038.75,910575
74,0.00,Магическая уборка. Японское искусство наведени...,247.50,1,2017-03-19 11:04:36,346.25,191010,601771,4,1038.75,910575
75,0.00,Японская революция по уходу за кожей. Совершен...,226.50,1,2017-03-19 11:04:36,346.25,203846,601771,4,1038.75,910575
76,0.00,Французская жена. Искусство превращать рутину ...,298.50,1,2017-03-19 11:04:36,346.25,161921,601771,4,1038.75,910575
78,0.00,Янтарный телескоп,323.25,1,2017-03-19 09:47:51,323.25,1437710,601750,3,969.75,99953
79,0.00,Чудесный нож,323.25,1,2017-03-19 09:47:51,323.25,205865,601750,3,969.75,99953
80,0.00,Северное сияние,323.25,1,2017-03-19 09:47:51,323.25,187266,601750,3,969.75,99953
81,0.00,Биология. 7 класс. Многообразие живых организм...,164.34,10,2017-03-19 09:21:04,33.66,214559,601747,1,1643.40,905839
85,0.00,Бойцовский клуб,273.07,1,2017-03-19 02:39:30,282.54,190857,601700,5,1379.46,911310
86,0.00,Библейская история. Ветхий Завет и Новый Завет,718.78,1,2017-03-19 02:39:30,282.54,273485,601700,5,1379.46,911310
87,0.00,Толкование сновидений,99.60,1,2017-03-19 02:39:30,282.54,237090,601700,5,1379.46,911310
88,0.00,Введение в психоанализ,135.29,1,2017-03-19 02:39:30,282.54,192904,601700,5,1379.46,911310
89,0.00,Пересмотр теории сновидений. Введение в психоа...,152.72,1,2017-03-19 02:39:30,282.54,164060,601700,5,1379.46,911310
90,0.00,Финансист,139.50,1,2017-03-19 02:20:26,115.20,703704,601698,9,1036.80,895452
91,0.00,Кентервильское привидение,27.90,1,2017-03-19 02:20:26,115.20,1398344,601698,9,1036.80,895452
...,...,...,...,...,...,...,...,...,...,...,...
379178,0.00,Ведьмак: Последнее желание,482.98,1,2017-08-13 01:18:32,973.26,1402963,684363,11,4433.74,168419
379179,0.00,"Бестиарий: Создания света, мрака, полумрака и ...",482.98,1,2017-08-13 01:18:32,973.26,729697,684363,11,4433.74,168419
379879,0.00,Астрономия. 11 класс. Учебник.,400.00,1,2017-08-15 14:12:36,6.00,1635426,685732,2,877.00,966717
380756,0.00,"Варкрафт: Хроники, том 2",795.60,1,2017-08-18 00:53:51,140.40,1434468,688419,1,795.60,968690
381025,0.00,В тихом омуте,300.00,1,2017-08-18 13:28:11,288.80,1623795,689042,5,1374.20,208808
381970,0.00,Доказательство силы,342.90,1,2017-08-20 19:38:03,138.00,1390530,690088,4,1242.00,970101
381971,0.00,Поцелуй Уробороса,350.10,1,2017-08-20 19:38:03,138.00,1628764,690088,4,1242.00,970101
382527,0.00,Астрономия. 11 класс. Учебник. (вес: 355гр.),400.00,1,2017-08-16 17:06:17,6.00,1635426,687145,2,905.55,967654
384037,0.00,Астрономия. 11 класс. Учебник. (вес: 355гр.),400.00,3,2017-08-15 08:08:19,47.33,1635426,685502,2,1795.72,966534
384476,0.00,Астрономия. 11 класс. Учебник. (вес: 355гр.),400.00,1,2017-08-16 22:33:07,6.00,1635426,687425,2,663.82,964964
387379,0.00,Платье цвета полуночи (цветн.) (вес: 572гр.),342.00,1,2017-08-15 16:22:54,162.80,716711,685928,4,1465.20,966795
393190,0.00,История России с др.вр.до нач.XXIв.Атлас школь...,239.00,1,2017-08-17 22:04:04,131.00,186506,688230,12,2290.00,893995
393191,0.00,История России. С древнейших времен до XVI век...,59.00,1,2017-08-17 22:04:04,131.00,191505,688230,12,2290.00,893995
393379,0.00,Книга Балтиморов,560.15,1,2017-08-17 21:43:55,98.85,1641194,688205,1,690.15,861685
395308,0.00,Астрономия. 11 класс. Учебник.,400.00,2,2017-08-18 21:19:09,50.00,1635426,689350,3,1435.63,965721
399389,0.00,Все динозавры с крупными буквами,753.10,1,2017-08-15 21:31:16,344.10,712503,686305,3,1949.90,752399
407011,0.00,Охотники. Мегалиты Империи,380.80,1,2017-08-25 22:37:19,67.20,1636172,694211,1,380.80,973483
434975,0.00,Акулы из стали. Аврал,279.65,1,2017-08-29 14:16:29,89.70,1622830,696689,2,658.30,198449
436313,0.00,Астрономия. 11 класс. Учебник.,400.00,1,2017-08-28 15:57:07,538.00,1635426,695902,20,3448.48,191108
516288,0.00,Азбука-раскраска. Красим настоящие буквы,18.00,1,2017-09-18 10:38:36,202.00,190770,717004,33,1028.00,861394
516289,0.00,Звери и птицы,19.00,1,2017-09-18 10:38:36,202.00,293809,717004,33,1028.00,861394
516290,0.00,Мадагаскар 2. Побег в Африку. Старые знакомые,24.00,1,2017-09-18 10:38:36,202.00,177952,717004,33,1028.00,861394
516291,0.00,"Правдивая история Кота в сапогах. Игры, ребусы...",24.00,1,2017-09-18 10:38:36,202.00,184054,717004,33,1028.00,861394
516292,0.00,Мои первые прописи. Веселая книга загадок,18.00,1,2017-09-18 10:38:36,202.00,178288,717004,33,1028.00,861394
516293,0.00,Английский для малышей. Веселые стихи и песенки,18.00,1,2017-09-18 10:38:36,202.00,734095,717004,33,1028.00,861394
516294,0.00,Английский для дошколят.,21.00,1,2017-09-18 10:38:36,202.00,734106,717004,33,1028.00,861394
516295,0.00,Раскраска с трафаретом для мальчиков. Автомоби...,24.00,1,2017-09-18 10:38:36,202.00,189755,717004,33,1028.00,861394
516296,0.00,ПАЗЛЫ 24 элемента. ЛУЧШАЯ МАШИНА (Арт. П24-6323),16.00,1,2017-09-18 10:38:36,202.00,483512,717004,33,1028.00,861394
516297,0.00,ПАЗЛЫ 24 элемента. ПЕРВЫЕ СКАЗКИ (Арт. П24-6327),16.00,1,2017-09-18 10:38:36,202.00,491959,717004,33,1028.00,861394
516298,0.00,Фиксики.Пазл-мини 24А.11675 Фиксики 2/4 Шарико...,26.00,1,2017-09-18 10:38:36,202.00,696143,717004,33,1028.00,861394

# 4. Провести построение модели

# 5. Проанализировать результат
получилось или нет, почему, что можно улучшить, можно ли интерпретировать результат

# 6. Повторить при необходимости

# Подсказки

* Проводить EDA и работу с признаками на всем датасете
* Для построения модели отсеивать данные тем или иным способом (обосновать выбор) - уменьшить объем данных для анализа
* Оформлять для сдачи задания все эксперименты (в том числе неудачные). Так мы сможем увидеть процесс работы над заданием
* Не тратить 90% времени на первый этап. Планировать время так, чтобы успеть поработать над моделью (в равной степени над каждым пунктом).